@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.nav-center {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  gap: 2rem;
  font-size: 20px;
}

ul {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 40vh;
}

.container h2 {
  background-color: black;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn {
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: black;
}

button {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
  cursor: pointer;
  color: yellow;
}

span {
  padding-left: 0.7rem;
}

a:hover {
  border-bottom-style: solid;
}
